# Environment files
.env
.env.local
.env.*.local

# Python cache and logs
__pycache__/
*.py[cod]
*.log

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter notebooks
.ipynb_checkpoints/

# Node modules and build artifacts
node_modules/
dist/
build/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# AWS and Kaggle configs
.aws/
.kaggle/

# Other
*.sqlite3
*.bak
*.zip
*.tar.gz
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Raw data
# data/raw/
# *.csv
# Add in prod

# Python artifacts
pycache/
.pyc


